<!doctype html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="./bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="./app.js"></script>
  </head>
  <body ng-app="tabular_json_edit">
    <div ng-controller="TableController as table_ctrl">
      <span class="btn btn-default btn-file">
        Open File...<input type="file" file-model="input_file">
      </span>
      </label>
      <div class="btn-group" dropdown auto-close="outsideClick">
        <button id="header-operations" type="button" class="btn btn-primary" dropdown-toggle>
          Header Operations<span style="margin-left: 0.5em" class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="header-operations">
          <li role="menuitem"><a ng-click="table_ctrl.lowercase_headers()">Lowercase</a></li>
          <li role="menuitem"><a ng-click="table_ctrl.uppercase_headers()">Uppercase</a></li>
          <li role="menuitem"><a ng-click="table_ctrl.spaces_to_underscores()">Spaces to Underscores</a></li>
        </ul>
      </div>
      <table>
        <thead>
          <tr>
            <td ng-repeat="header in table_ctrl.headers" style="position:relative" ng-mouseenter="table_ctrl.header_active[$index] = true" ng-mouseleave="table_ctrl.header_active[$index] = false">
              <input ng-model="header"></input>
              <button style="position: absolute; top: 0px; right: 0px; height: 25px; width: 25px;" class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="table_ctrl.delete_field($index)" ng-show="table_ctrl.header_active[$index]"></button>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in table_ctrl.data">
            <td ng-repeat="value in row track by $index">{{value}}</td>
          </tr>
        </tbody>
      </table>
    <div>
  </body>
</html>
